.NavBar {
  display: flex;
}
.NavBar ul {
  list-style-type: none;
  padding-left: 0;
}

.NavBar ul li a {
  text-decoration: none;
  color: black;
}

.left-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: right;
}

.left-nav {
  width: 25%;
}

.right-nav {
  width: 20%;
}

.center-nav {
  width: 60%;
}

.right-nav {
  display: flex;
  justify-content: space-around;
}
