.NavBar {
  display: flex;
}
.NavBar ul {
  list-style-type: none;
  padding-left: 0;
  align-items: center;
}

.NavBar ul li a {
  text-decoration: none;
  color: black;
}
.NavBar ul li a:hover {
  text-decoration: underline;
}

.left-nav {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: right;
}

.center-nav {
  width: 60%;
  justify-content: center;
  align-items: center;
}

.right-nav {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.home-logo {
  font-size: 30px;
}
