.welcome-header {
  background-color: rebeccapurple;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-header-shop-now {
  text-decoration: none;
  padding: 10px 20px;
  background-color: red;
}
