.trending-products {
  width: 90%;
  margin: 40px auto;
}

.trending {
  text-align: center;
  margin: 0 20px;
}

.trending h1 {
  font-size: 30px;
}

.trending img {
  width: 180px;
  margin: auto;
}

.slick-prev::before,
.slick-next::before {
  color: black !important;
}
